
{{!-- handlebars html body to handle most of the html --}}
{{!-- first row to center the title and image --}}
	<div id="container-fluid">
		<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<div id="burger">
          <h1>Burgers!</h1>
          <img src="/assets/img/burger.png" alt="burger">
        </div>
			</div>
			<div class="col-sm-4"></div>

    	</div>
    </div>
{{!-- Second row to handle uneaten burgers and eaten Burgers --}}
<div id="container-fluid">
		<div class="row">
      {{!-- first column for uneaten burgers --}}
			<div class="col-sm-4">
        <h2>Burgers available to eat</h2>
        <ul>
          {{#each burgers}}
          {{#unless this.devoured}}
          <li>
            
            <form action="/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="devoured" value="true">
              <button type="submit">{{this.burger_name}}</button>
            </form>
          </li>
          {{/unless}}
          {{/each}}
        </ul>
      </div>
      {{!-- second column to add a new burger --}}
			<div class="col-sm-4">
        <h2>Add a Burger</h2>
          <form action="/burgers" method="POST">
            <input type="text" id="name" name="burger_name" placeholder="Bobby's Burger">
            <button type="submit" class="addBurgerButton">Add The Burger</button>
          </form>
      </div>
      {{!-- Third Column for all devoured burgers --}}
			<div class="col-sm-4">
        <h2>Devoured burgers</h2>
          <ul>
            {{#each burgers}}
              {{#if this.devoured}}
                <li>
                  {{this.burger_name}}
                </li>
              {{/if}}
            {{/each}}
          </ul>
      </div>

    </div>
 </div>










